@{
}

<form class="text-center" method="post" asp-controller="Employees" asp-action="AddEmployeeForm">
    <fieldset>
        <legend>Employee:</legend>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
        <br>
        <br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname">
        <br>
        <br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address">
        <br>
        <br>
        <label for="fiscalCode">Fiscal Code:</label>
        <input type="text" id="fiscalCode" name="fiscalCode">
        <br>
        <br>
        <p>Conjugality?:</p>
        <input type="radio" id="single" name="conjugality" value="Single">
        <label for="single">Single</label>
        <br>
        <input type="radio" id="married" name="conjugality" value="Married">
        <label for="married">Married</label>
        <br>
        <br>
        <label for="children">Children:</label>
        <input type="number" id="children" name="children">
        <br>
        <br>
        <label for="role">Role:</label>
        <input type="text" id="role" name="role">
        <br>
        <br>
        <button type="submit" value="Submit">Submit</button>
    </fieldset>
</form>
