@{
}

<table class="table">
    <tr>
        <th scope="col">Period</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
    </tr>
    @foreach (var payment in StaticDb._payments)
    {
        <tr>
            <td>@payment.PaymentPeriod</td>
            <td>@payment.PaymentAmount</td>
            <td>@payment.PaymentType</td>
        </tr>
    }

</table>